.article-container{
    width: 50%;
    margin: auto;
}

.articleWrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0rem;
}

.article-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.article-header > h1{
    font-weight: 600;
    color: var(--text-color1);
    font-size: 2.2rem;
    
}
.article-writer{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.article-writer > span > b{
    font-weight: 500;
}
.article-writer > span{
    font-size: 0.8rem;
    font-weight: 400;
}

.article-writer > .avatar{
    height: 1.5rem;
    aspect-ratio: 1/1;
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-writer > .avatar > img{
    object-fit: cover;
    height: 100%;
}

.article-thumbnail{
    height: 40rem;
    width: auto;
    margin: auto;
    overflow: hidden;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-thumbnail img{
    width: 100%;
}

div.p{
    
}
div.p {
    color: var(--text-color1);
    line-height: 28px;
}
div.p p{
    font-weight: 300;
    
}

div.p li{
    margin: 1rem 0rem 1rem 3rem;
}

div.p strong{
    font-weight: 500;
}

div.p h1{
    font-weight: 500;
}
.related-article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
}