nav{
    background-color: white;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
}

.navTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    transition: all .3s ease;
}
/* logo */
.logo h2{
    font-size: 1.5rem;
    font-style: italic;
    color: var(--text-color1);
    transition: all .3s ease;
}
.logo>h2>span{
    color: var(--main-color) 
}
.navTop > .search{
    width: 45%;
    position: relative;
    margin-left: -1%;
}
/* search */
.navTop > .search > input{
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    background-color: #edeff1;
    padding: 0.8rem 1rem 0.8rem 3rem;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    
}

.navTop > .search > input::placeholder{
    font-size: 1rem;
}

.navTop > .search > i{
    font-size: 1.3rem;
    color: var(--lite-color);
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* menu */



.menu{
    display: flex;
    align-items: center;
    justify-content: space-center;
}

.menu a{
    color: var(--lite-color);
    font-weight: 500;
    padding: 0rem 1rem;
    transition: all 0.2s ease;
    font-size: 1rem;
}
.menu a:first-child{
    border-right: 1px solid #bbbbbb;
}

 .menu a.active{
    color: var(--main-color);
}
.menu a:hover{
    color: var(--main-color);
}


.menuWrapper > .menu> i{
    font-size: 1.3rem;
    color: var(--lite-color);
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all .2s ease;
    display: none;
    
}


.menuWrapper > .menu> i:hover{
    background-color: #eaeaea;
}

.menuWrapper > .more-menu{
    position: relative;
}

.menuWrapper > .more-menu >.menuInList{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 12rem;
    right: 5%;
    top: 150%;
    box-shadow: 0px 0px 10px -8px;
    border-radius: 0.3rem;
    overflow: hidden;
    display: block;
}
.menuInList > a{
    color: var(--lite-color);
    /* background-color: #edeff1; */
    padding: 0.7rem 1.2rem;
    transition: all .1s ease;
    display: none;
}

.menuInList > a:hover{
    background-color: #edeff1;
    
    
}

/*write*/

.write{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    background-color: #464545;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s ease;
}
.write>span{
    font-size: 1.1rem;
    color: var(--main-color);
    
    color: #ffffff;
   
}
.write:hover{
    background-color: #2d2c2c;
    cursor: pointer;
}

.write>i{
    font-size: 1.3rem;
}

